---
let boodschap = '';

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const url = formData.get('url');
  boodschap = `Je vulde in: ${url}`;
}
---
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <form method="POST">
      <input type="text" name="url" placeholder="bijv. cafegeorge.nl" required />
      <button type="submit">Scan</button>
    </form>

    {boodschap && <p>{boodschap}</p>}
  </body>
</html>